/* Insert costum font */ 
@font-face {
    font-family: batmanforever;
    src: url(../fonts/batmfa__.ttf);
}

/* Overall Styling */
body {
    background-color: #7F8086; 
    }

img {
    max-width: 100%;
    display: block;
    }


/* SPLASH PAGE STYLING */

#gamelogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    max-width: 800px;
    height: auto;
}

#lp_uktext {
    font-size: medium;
    font-weight: bold;
    text-align: center;
    align-items: center;
    font-family: batmanforever, sans-serif;
    margin-bottom: 40px;
}

/* Arrow Buttons */
.arrows {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#left-arrow {
    height: 80px;

}

#right-arrow {
    height: 80px;
    
    }

#keys_uktext {
    margin-right: 20px;
    margin-left: 20px;
    font-size: 20px;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
    font-family: batmanforever, sans-serif;
    }

#startBtn {
    background-color: #FEE202;
    border: 4px solid black;
    width: 200px;
    height: 100px;
    margin-top: 120px;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: bolder;
    text-transform: uppercase;
    font-family: batmanforever, sans-serif;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#startBtn:hover {
    background-color: black;
    color: #FEE202;
    }

.last-btns {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.sound {
    margin-right: 40px;
    
}
    
.lang {
    margin-left: 40px;
}

/* GAMEPAGE STYLING */

#my-canvas {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    height: auto;
    }

#gameplay-elements {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
}

#current-score {
    width: 200px;
    height: 100px;
    }

#score-number {
    color: #FEE202;
    font-size: 100px;
    stroke: black;
    stroke-width: 4px;
    font-weight: bold;
    font-family: batmanforever, sans-serif;
    }
    
#health-bar {
    width: 200px;
    height: 100px;
    }

#restartBtn {
    background-color: #FEE202;
    border: 4px solid black;
    width: 200px;
    height: 100px;
    font-size: xx-large;
    font-weight: bolder;
    text-transform: uppercase;
    font-family: batmanforever, sans-serif;
    }
    
#restartBtn:hover {
    background-color: black;
    color: #FEE202;
    }

/* GAMEOVER PAGE STYLING */

#gologo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:600px;
    max-height:auto;
    width: auto;
    height: auto;
}

#go_uktext {
    font-size: medium;
    font-weight: bold;
    text-align: center;
    align-items: center;
    font-family: batmanforever, sans-serif;
    margin-bottom: 40px;
}

#scoreboard {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:300px;
    max-height:auto;
    width: auto;
    height: auto;
    }

#tryagainBtn {
    background-color: #FEE202;
    border: 4px solid black;
    width: 200px;
    height: 100px;
    margin-top: 80px;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: bolder;
    text-transform: uppercase;
    font-family: batmanforever, sans-serif;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#tryagainBtn:hover {
    background-color: black;
    color: #FEE202;
    }


/* WINNER PAGE STYLING */

#winlogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:600px;
    max-height:auto;
    width: auto;
    height: auto;
}

#yw_uktext {
    font-size: medium;
    font-weight: bold;
    text-align: center;
    align-items: center;
    font-family: batmanforever, sans-serif;
    margin-bottom: 40px;
}

#scoreboard {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:300px;
    max-height:auto;
    width: auto;
    height: auto;
    }

#playagainBtn {
    background-color: #FEE202;
    border: 4px solid black;
    width: 200px;
    height: 100px;
    margin-top: 80px;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: bolder;
    text-transform: uppercase;
    font-family: batmanforever, sans-serif;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#playagainBtn:hover {
    background-color: black;
    color: #FEE202;
    }