/* Insert costum font */

/* To-Dos:

Uniformize background size (all grey)
Center Game logo


body { min-height: 100vh; }

/* SPLASH PAGE STYLING */
.splashpage {
display: flex;
flex-direction: column;
background-color: #7F8086;
}

#gamelogo {
display: flex;
justify-content: center; /* it's not centering */
width: 1024px;
height: 576px;
}

#lp_uktext {
display: flex;
justify-content: center;
font-weight: bold;
text-align: center;
align-items: center;
}

/* Arrow Buttons */
.arrows {
display: flex;
flex-direction: row;
justify-content: center;
/* align-items: center; */
height: 100px;
margin-top: 50px;
margin-bottom: 50px;
}

#keys_uktext {
margin-right: 20px;
margin-left: 20px;
font-size: 30px;
font-weight: bold;
text-transform: uppercase;
text-align: center;
}

/* GAMEPAGE STYLING */

#gameplay {
display: flex;
justify-content: center;
background-color: #7F8086;
}

.gameplay-Btns {
display: flex;
justify-content: center;
align-items: center;
}

#restartBtn {
margin-right: 40px;   
}
    
#muteBtn {
margin-left: 40px;
}

/* GAMEOVER PAGE STYLING */
#gameover {
display: flex;
flex-direction: column;
justify-content: center; /* it's not centering */
background-color: #7F8086;
}

#gologo {
display: flex;
justify-content: center; /* it's not centering */
width: 1024px;
height: 576px
}

#go_uktext {
display: flex;
justify-content: center;
font-weight: bold;
text-align: center;
align-items: center;
}

/*
HighScores Table
#high-scores-table { //Will be used in the winner page too
}
*/

/* WINNER PAGE STYLING */
#winner {
display: flex;
flex-direction: column;
justify-content: center; /* it's not centering */
background-color: #7F8086;
}
        
#yw_uktext {
display: flex;
justify-content: center;
font-weight: bold;
text-align: center;
align-items: center;
}

#winlogo {
display: flex;
justify-content: center; /* it's not centering */
width: 1024px;
height: 576px;
padding: 10px;
}

.sound {
margin-right: 40px;

}

.lang {
margin-left: 40px;
}


/* Start/Restart/TryAgain Button */
.btn {
    display: flex;
    justify-content: center;
    background-color: #FEE202;
    border: 4px solid black;
    width: 200px;
    height: 100px;
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 40px;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: justify;
    line-height: 100px;
    box-sizing: border-box;
    }
    
.btn-position {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    }
    
    /* Bottom Buttons*/
    .last-btns {
    display: flex;
    justify-content: center;
    height: 50px;
    width: auto;
    margin-bottom: 70px;
    }
    
    




/*
.sound {
max-width: 5px;
max-height: 5px;
object-fit: contain;
}
*/